/* CSS HACK */
* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }

/* General Rules */
* {
    box-sizing: border-box;
}
body {
    font-style: Arial;
    margin: 0;
}
ul {
    list-style: none;
}

/* Header & Navbar */
.logo {
    display: flex;
    justify-content: flex-start;
}

/* Main Galleries */
.citiesExplored {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%; */
}
.spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%;
}
 section img {
    display: block;
    width: 100%;
    /* box-shadow: -1px 0px 0px rgba(0,0,0,0.06); */
}

/* Footer */
footer ul {
    display: inline-flex;
    justify-content: space-between;  
}